= wrap_layout :blog do
  .essay
    .row.header
      .span8.offset2
        %h1= link_to current_article.title, current_article.url
        %h3
          By
          =link_to "Josh", '/', :rel => :author
        %h4= long_date(current_article.date)

    .row.content
      .span10.offset1
        =yield
        %hr
        .well
          This article was categorized as
          = current_article.tags.map{|t| link_to t, "/essays/categories/#{t}"}.to_sentence
        #disqus_thread

    = javascript_include_tag "app/integrations/disqus"