= wrap_layout :home do
  #headline.space
    %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
    %h5.crumb
      %a{ href: '/' } Josh W Lewis
    %h5.crumb /
    %h5.crumb
      = link_to 'Essays', '/essays'
    %h5.crumb /
    %h5.crumb
      = link_to current_article.title, current_article.url

  .surface
    %h1= link_to current_article.title, current_article.url
    %br
    %h4
      By
      %a{ href: '/', rel: 'author' } Josh W Lewis
      = "on #{long_date current_article.date}"
    %br

    =yield

    .highlight
      This article was categorized as
      = current_article.tags.map{|t| link_to t, "/essays/categories/#{t}"}.to_sentence
