= wrap_layout :home do
  #headline.space
    %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
    %a.name{ href: '/' } Josh W Lewis
    %span /
    = link_to 'Essays', '/essays'
    %span /
    = link_to current_article.title, current_article.url
  .surface
    %h1= link_to current_article.title, current_article.url
    %h4
      By
      %a{ href: '/', rel: 'author' } Josh W Lewis
    %h5= "On #{long_date current_article.date}"
    =yield
    %hr
    .well
      This article was categorized as
      = current_article.tags.map{|t| link_to t, "/essays/categories/#{t}"}.to_sentence
    #disqus_thread

  = javascript_include_tag "app/integrations/disqus"
