!!!5
%head
  = partial 'metas'
  = javascript_include_tag "vendor/jquery"
  = javascript_include_tag "vendor/modernizr"
  = javascript_include_tag "app/quadromper"
  = stylesheet_link_tag "blog"
%body
  #background
  .container
    = yield
    = partial 'footer'

  = javascript_include_tag "blog/body"
