#headline.space
  %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
  %a.name{ href: '/' } Josh W Lewis
  %span /
  = link_to 'Essays', '/essays'
  %span /
  = link_to 'Categories', '/essays/categories'
  %span /
  = link_to tagname, "/essays/categories/#{tagname}"

- if articles
  - articles.each do |a|
    .surface= partial :article_preview, :locals => {:article => a}