#headline.space
  %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
  %h4.crumb
    %a{ href: '/' } Josh W Lewis
  %h4.crumb /
  %h4.crumb= link_to 'Essays', '/essays'
  %h4.crumb /
  %h4.crumb= link_to 'Categories', '/essays/categories'
  %h4.crumb /
  %h4.crumb= link_to tagname, "/essays/categories/#{tagname}"

- if articles
  - articles.each do |a|
    .surface= partial :article_preview, :locals => {:article => a}
