---
title: Unit Testing with Minitest
published: false
description: Introduction to Unit Testing using Minitest::Spec
---

= step "title" do
  %h1 Unit Testing with Minitest
  %br
  %h4
    Josh W Lewis
    %a{href: "//twitter.com/joshwlewis"} @joshwlewis
  %h4 
    Memphis Ruby Users Group
  %date 1/21/2013

= step "definition", x: 2000 do
  %blockquote In computer programming, unit testing is a method by which individual units of source code, sets of one or more computer program modules together with associated control data, usage procedures, and operating procedures are tested to determine if they are fit for use.
  %a.pull-right{href: "//en.wikipedia.org/wiki/Unit_test"} - Wikipedia

= step "tldr", x: 4000 do
  %h4 TL;DR
  %blockquote Unit testing is code that makes sure your code works.

= step "why", x: 6000 do
  %h3 Why Unit Test?
  %ul
    %li Confidence
    %li Speed
    %li Refactorability
    %li Quality
    %li Reliability
    %li Documentation

= step "no-test-flow", x: 8000 do
  = partial 'initials'
