#index.space
  #headline
    %img.avatar{ src: '/images/joshwlewis.jpg', alt: 'Josh W Lewis' }
    %h1.name Josh W Lewis

  .section
    %p
      I'm a web software engineer in Memphis. I design and build software
      systems for users with high a standard of experience, performance,
      and quality. I typically use a mix of Ruby, JavaScript, Go, Elixir, and
      Oxford commas.

  .section
    %p
      Currently, I'm creating new workflows for developers at
      #{ link_to "Heroku", "http://heroku.com"} and co-organize
      #{ link_to "Memphis Ruby", "http://memphisruby.org" }.
      Previously, I co-founded
      #{ link_to "Emergent Coils", "http://www.emergentcoils.com"}.

  .section
    %p
      I occasionally write essays related to web software and development, the
      sum of which is available #{ link_to "here", "/essays" }. Here are some of
      my most recent:
    %ul
      - blog.articles[0..3].each do |article|
        %li= link_to(article.data.title, article.url)

  .section
    %p
      I also occasionally give talks to user groups and conferences. The slides are listed
      #{ link_to "here", "/slides"}. Here are a few selections:
    %ul
      - slide_decks.first(4).each do |deck|
        %li= link_to(deck.data.title, deck.url)
  .section
    %p
      If you'd like to connect, you can also find me via
      #{ link_to 'Github', '//github.com/joshwlewis/'},
      #{ link_to 'Twitter', '//twitter.com/joshwlewis/' },
      #{ link_to 'LinkedIn', '//www.linkedin.com/in/joshwlewis' }, or
      #{ link_to 'Email',    '//mailto:josh.w.lewis@gmail.com' }.
